/* Styling for all the extra pages rather than doing each one individually */

.help,
.about {
  max-width: 80%;
  margin: 1em 4em;
  scroll-padding-top: 4em !important ;
}

.indices {
  margin: 3em;
}
.indices b {
  font-weight: 500;
  font-size: 105%;
}
.foreword {
  font-weight: 300;
  font-style: italic;
}
.contents {
  margin: 1em;
}
