a {
  text-decoration: none;
}

.page {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0.1em;
  line-height: 1;
}
.subsection {
  list-style-type: none;
  font-weight: 300;
  font-size: 0.8em;
  margin-left: -1em;
}
