/* Not all styling is done here due to now react-bootstrap works (background colour) */

.downloadbtn,
.downloadbtn a,
.downloadbtn a:hover {
  float: left;
  top: 65%;
  color: white;
  text-decoration: none;
  width: 30%;
  padding: 0.3em;
}
