/* Styling for the tags in the labels of the dropdowns */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

.description{
    font-size: 75%;
}
.tag{
    /* box-shadow: rgba(17, 17, 26, 0.144) 0px 1px 0px, rgba(17, 17, 26, 0.185) 0px 0px 8px; */
    /* border: 0.7px rgba(17, 17, 26, 0.651); */
    border-radius: 10%;
    margin-right: 0.3em;    
    padding: 0.3em;
    border: 2px solid;
    /* color: rgb(255, 255, 255); */
    font-size: 90%;
    /* font-family: 'Roboto'; */
}

.temp{
    background-color: rgb(247, 218, 166);
    border-color: rgb(236, 141, 52);
    color: rgb(218, 108, 6);
}

.precip{
    background-color: rgb(94, 169, 240);
    border-color: rgba(22, 129, 201, 0.979);
    color: rgb(7, 41, 119);
}

.wind{
    background-color: rgba(147, 222, 245, 0.979);
    border-color: rgba(49, 177, 228, 0.979);
    color: rgba(15, 102, 136, 0.979);
}

.other{
    background-color: rgba(183, 176, 247, 0.952);
    border-color: rgba(91, 64, 211, 0.938);
    color: rgba(48, 13, 202, 0.904);
}